:root {
    font-size: 10px;
}

html {
    /* width: 1000px;*/
    margin: 0 auto;
    background-color: azure;
}

.main-nav  {
    background-color: lightcoral;
    height: 40px;
    font-size: 30px ;
}


header nav ul {
    display: flex;
    justify-content: space-around;
}

.main-nav li {
    background-color: rgb(188, 214, 163);
    color: white;
}